/* Write your global styles here, in PostCSS syntax */
/* @tailwind base; */  /* comment for skeleton framework */ 
/* @tailwind components; */  /* comment for skeleton framework */ 
/* @tailwind utilities; */  /* comment for skeleton framework */ 

html,body {
  @apply h-full overflow-hidden;
}

button {
  @apply btn variant-filled rounded-md;
}
